@use 'sass:color';

html,
body {
  margin: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.container {
  padding: 2%;
}

.bordered-container {
  margin: 0.25%;
  width: 99.5%;
  border: 1px solid gray;
  border-radius: 5px;
}

.row {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.link {
  color: #42a5f5;
  cursor: pointer;
}

.man-of-the-match {
  border: 1px solid #E0AA3E !important;
}

.team-1 {
  color: #4caf50 !important;
  border: 1px solid #4caf50 !important;
}

.team-2 {
  color: #ef5350 !important;
  border: 1px solid #ef5350 !important;
}

.search-dropdown {
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
}