@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #42a5f5,
  $secondary: #ba68c8,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: #f3f6f9;
  color: theme.$on-surface;
  margin: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.container {
  padding: 2%;
}

.bordered-container {
  margin: 0.25%;
  width: 99.5%;
  border: 1px solid gray;
  border-radius: 5px;
}

.row {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.link {
  color: #42a5f5;
  cursor: pointer;
}

.man-of-the-match {
  background-color: #E0AA3E !important;
  border-color: #E0AA3E !important;
  color: white !important;
}

.team-1 {
  color: #4caf50 !important;
  border: 1px solid #4caf50 !important;
  background-color: #F3F6F9 !important;
}

.team-2 {
  color: #ef5350 !important;
  border: 1px solid #ef5350 !important;
  background-color: #F3F6F9 !important;
}